* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* paleta colores */
:root {
    /* modo claro */
    --azulBotones: #197fe6;
    --grisClaro: #f1f5f9;
    --blancoNavbar: #ffffff;
    --negroLetras: #0f172a;
    --azulTitulo: #197fe6;
    --fondoFooter: #0f172a;

    /* modo oscuro */
    --backroundNegro: #121212;
    --azulbackround: #10172a;
    --grisCard: #1e293b;
    /* faltan colores.... */

}

/* HERO */

.hero{
    background-color: var(--grisClaro);
}

/* titulo */

.titulo-hero{
    font-size: 3rem;
    font-weight: 800;
    color: var(--negroLetras);
}

.titulo-hero span{
    color: var(--azulTitulo);
}

/* descripcion */

.descripcion-hero{
    font-size: 1.1rem;
    color: #475569;
    margin-top: 20px;
}

/* botones */

.botones-hero{
    margin-top: 25px;
}

/* animacion imagen */

.hero-img img{
    transition: transform 0.4s ease;
}

.hero-img img:hover{
    transform: scale(1.05);
}

.hero-text{
    animation: slideLeft 1s ease;
}

.hero-img{
    animation: slideRight 1s ease;
}

@keyframes slideLeft{
    from{
        opacity:0;
        transform: translateX(-50px);
    }
    to{
        opacity:1;
        transform: translateX(0);
    }
}

@keyframes slideRight{
    from{
        opacity:0;
        transform: translateX(50px);
    }
    to{
        opacity:1;
        transform: translateX(0);
    }
}

.hero-img img{
    height: 420px;
    object-fit: cover;
    border-radius: 15px;
}

.avatars img{
    width:40px;
    height:40px;
    border-radius:50%;
    border:3px solid white;
    margin-left:-10px;
}

.texto-usuarios{
    color:#64748b;
    font-size:14px;
}